*{
   box-sizing:border-box;
   margin: 0;
   padding: 0; 
}

.top-banner{
    height: 50px;
    width: 100%;
    background-color: #0CD977;
}
.container{
    max-width: 1200px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    align-items: center;
    height: 120px;
}
.header-left{
    padding: 10px;
}
.header-left img {
    width: 100%;
}
.col-2{
  width: calc(( 100% / 12 ) * 2);
}
.col-10{
  width: calc(( 100% / 12 ) * 10);
}
.text-right{
    text-align: right;
}
.header-right a{
    text-decoration: none;
    color: black;
}
.header-right li{
    display: inline-block;
    margin-left: 40px;
    font-size:18px;
}
.decor-none{
    list-style-type: none;
}
.d-block{
    display: block;
}
main{
    margin-top: 50px;
    text-align: center;
}
.header-right .boolean-btn{
    padding:10px;
    border: 2px solid #0CD977;
    border-radius: 5px;
    color: #0CD977;
    font-weight: bold;
}
.active{
    color: #0CD977;
    border-bottom: 2px solid #0CD977;
}
.users-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    margin: 10px 5px;
    height: 250px;
    background: rgb(46, 58, 70);
    text-align: center;
}

.user img {
    max-width: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 50%;   
}

.user h3 {
    margin: 20px 0;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.user span.email {
    color: grey;
    font-size: 15px;
}

.user span.gender {
    color: red;
}
